<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fiveinrowparse" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:protectionLevel="signature"
        android:name="com.example.fiveinrowparse.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.fiveinrowparse.permission.C2D_MESSAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <activity
            android:name=".LocalGameActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.fiveinrowparse.OnlineGameActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.fiveinrowparse.CreateGameActivity"
            android:label="@string/title_activity_create_game"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fiveinrowparse.userRegisterOrLoginActivity"
            android:label="@string/title_activity_user_register_or_login"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.fiveinrowparse.PlayWithFriendActivity"
            android:label="@string/title_activity_play_with_friend" >
        </activity>
        <activity
            android:name="com.example.fiveinrowparse.addFriendActivity"
            android:label="@string/title_activity_add_friend" >
        </activity>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
                -->
                <category android:name="com.example.fiveinrowparse" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.fiveinrowparse.MyPushReciver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.example.NEW_GAME_INVITE" />
                <action android:name="com.busck.SYSTEM_BECOMES_ACTIVE" />
                <action android:name="com.busck.SYSTEM_BECOMES_INACTIVE" />

            </intent-filter>
        </receiver>

    </application>

</manifest>
